<?php 
$this->setLayout('admin/user-layout.phtml'); 
$title = ___('User Invoices');
$pendingInvoicesBlock = false;
foreach($invoices as $invoice)
    if($invoice->getStatus() == Invoice::PENDING)
    { 
       $pendingInvoicesBlock = true;
       break;
    }
?>
<?php echo $this->blocks('admin/user/invoice/top') ?>
<style type="text/css">
<!--
.access-0 {display:none}
-->
</style>
<a class="button" style="float:right" href="<?php echo REL_ROOT_URL ?>/admin-user-payments/add-invoice/user_id/<?php echo $user_id ?>"><?php __e('Add Invoice') ?></a>
<h1><?php __e('User Invoices') ?></h1>
<?php if($pendingInvoicesBlock) : ?><div class="pending-invoices"><?php __e('User has %s Pending Invoices', '<span class="count"></span>');?> (<a href="javascript:;" class="show local" style='display:none;'><?php __e('Display'); ?></a><a href="javascript:;" class="hide local" style='display:none;'><?php __e('Hide');?></a>)</div><?php endif;?>
<div class="user-invoices">
<?php 
if ($invoices): foreach ($invoices as $invoice) :
/* @var $invoice Invoice */    
    $stateClass = ($invoice->getStatus()!=Invoice::PENDING) ? '' : ' user-invoice-pending';
?>
<div class="user-invoice<?php echo $stateClass;?>" data-invoice_id="<?php echo $invoice->invoice_id ?>">
    <a name="invoice-<?php echo $invoice->invoice_id ?>"></a>
    <div class="user-invoice-header">
        <div class="user-invoice-actions">
            <?php if(!$invoice->isConfirmed()) : ?>
            <a  href="<?php p(REL_ROOT_URL.'/admin-user-payments/approve/user_id/'.urlencode($invoice->user_id).'/?invoice_id='.$invoice->invoice_id); ?>"
               ><?php __e('Approve')?></a>&nbsp;|&nbsp;
             <?php endif; ?>
            <a style="color:red;"
               href="<?php p(REL_ROOT_URL.'/default/admin-payments/p/invoices/index?_invoice_a=delete&_invoice_b='.urlencode( $this->url(array('user_id' => $invoice->user_id)) ).'&_invoice_id='.$invoice->invoice_id); ?>"
               ><?php __e('Delete') ?></a> |
               <a class="link invoice-log"
               href="<?php p(REL_ROOT_URL.'/admin-user-payments/log/invoice_id/'.$invoice->invoice_id) ?>"
               ><?php __e('Transactions Log')?></a>
            <?php $this->invoice = $invoice ?>
            <?php echo $this->blocks('admin/user/invoice/right') ?>
        </div>
        <div style="margin-bottom:0.2em">#<strong><?php echo $invoice->invoice_id ?>/<?php echo $invoice->public_id ?></strong>
        <?php echo '<strong class="invoice-status-text">' . $invoice->getStatusTextColor() . '</strong>'; ?>
        <?php __e('Billing Terms') ?>: <strong><?php echo new Am_TermsText($invoice) ?></strong>,
        <?php __e('created at') ?> <em><?php echo amDateTime($invoice->tm_added)?></em><?php if ($invoice->isPaid()):?>, <?php __e('first paid at')?> <em><?php echo amDateTime($invoice->tm_started) ?></em><?php endif ?>
        <?php if ($invoice->coupon_id): ?>
            <?php echo ___('Coupon'). ': ' . ($invoice->coupon_code ? '<a class="link" href="' . REL_ROOT_URL . '/admin-coupons?_coupon_filter=' . urlencode($invoice->coupon_code) . '">' . $invoice->coupon_code . '</a>' : '<strong>#' . $invoice->coupon_id . '</strong>') ?>
        <?php endif ?>
        </div>
        <div>
        <?php
            $add_info = array();
            if ($invoice->status == Invoice::PENDING) {
                $add_info[] = sprintf('<span id="invoice-%d-due_info"%s>%s: <span id="invoice-%d-due_date">%s</span></span>
                    <a href="javascript:;" class="resend-payment-link local" title="%s" data-invoice_id="%d">%s</a> ',
                    $invoice->pk(), ($invoice->due_date ? '' : 'style="display:none"'),
                    ___('Due Date'), $invoice->pk(), amDate($invoice->due_date),
                    ___($invoice->due_date ? 'Resend Payment Link' : 'Send Payment Link'), $invoice->pk(),
                    ___($invoice->due_date ? 'Resend Payment Link' : 'Send Payment Link'));
            }
            if ($invoice->status==Invoice::RECURRING_CANCELLED) {
                $add_info[] = sprintf('%s: %s',
                    ___('Cancelled'),  amDate($invoice->tm_cancelled));
            }
            if(
                ($invoice->status==Invoice::RECURRING_ACTIVE) &&
                ($paysys = $invoice->getPaysystem()) &&
                ($paysys->getRecurringType() == Am_Paysystem_Abstract::REPORTS_CRONREBILL)
                ){

                $add_info[] = sprintf('%s:
                    <a class = "change-rebill-date local" href="javascript:;" title="%s"
                    data-invoice_id="%s"
                    data-rebill_date="%s">%s</a>',
                    ___('Next rebill date'), ___('Change rebill date'),
                    $invoice->invoice_id, amDate($invoice->rebill_date), amDate($invoice->rebill_date));
            } elseif ($invoice->status==Invoice::RECURRING_ACTIVE) {
                $add_info[] = sprintf('%s: %s',
                    ___('Next rebill date'),  amDate($invoice->rebill_date));
            }
            if (!empty($invoice->_cancelUrl))
            {
                $add_info[] = sprintf('<a href="%s" target="_blank" class="stop-recurring local">%s</a>',
                    $this->escape($invoice->_cancelUrl), ___('Stop Recurring'));
            }
            elseif(defined('AM_ALLOW_RESTART_CANCELLED') && $invoice->isCancelled())
            {
                $add_info[] = sprintf('<a href="%s" target="_blank" class="start-recurring local">%s</a>',
                    REL_ROOT_URL.'/admin-user-payments/start-recurring/user_id/'.$invoice->user_id.'?invoice_id='.$invoice->invoice_id, ___('Restart Recurring'));
            }
            echo implode(' | ', $add_info);
            ?>
        </div>
        <?php if ($invoice->comment): ?>
            <div class="user-invoice-comment">
            <?php p($invoice->comment) ?>
            </div>
        <?php endif ?>
        <div style="overflow:hidden; margin-top:0.5em;">
            <a class="expand-details local" href="javascript:;"><span class="open"><?php __e('expand details')?></span><span class="close" style="display:none"><?php __e('collapse details')?></span></a>
        </div>
    </div>
    <div class="user-invoice-record">
    </div>
</div>
<?php endforeach; else: // no invoices ?>
<?php __e('No Invoices Found')?>
<?php endif ?>
</div> <!-- user-invoices -->
<hr />
<div id="user-access-info">
<h1><?php __e('User Access') ?></h1>
<div class="user-access-title" data-status=".access-1,.access-2"><?php __e('User currently has access to the following products')?> (<a href="javascript:;" class="local"><?php __e('switch to show all records')?></a>):</div>
<div class="user-access-title" style="display:none;" data-status=".access-0,.access-1,.access-2"><?php __e("User had access to the following products") ?> (<a href="javascript:;" class="local"><?php __e('switch to show only active records')?></a>):</div>
<form <?php echo $accessForm->_attributes?> >
<div class="grid-container">
<table class="grid">
<tr>
    <th><?php __e('Product')?></th>
    <th><?php __e('From')?></th>
    <th><?php __e('To')?></th>
    <th><?php __e('Status')?></th>
    <th><?php __e('Source')?></th>
    <th></th>
</tr>
<?php $trAccessStatus = 
            array(
                Access::EXPIRED => '<span class="access-status-expired">'.___('Expired').'</span>',
                Access::ACTIVE  => '<span class="access-status-active">' . ___('Active').'</span>',
                Access::FUTURE  => '<span class="access-status-future">'.___('Future').'</span>',
            ); ?>
<?php $iconDelete = $this->icon('delete', 'Delete') ?>
<?php foreach ($accessRecords as $access): $access = (object)$access; ?>
<tr class="access access-<?php echo $access->getStatus()?><?php if ($access->getStatus() == 0) echo ' disabled'?>">
    <td><?php echo '#'. $access->product_id ?> - <a class="link" href="<?php p(REL_ROOT_URL . sprintf('/admin-products/?_product_a=edit&_product_b=%s&_product_id=%d', urlencode($_SERVER['REQUEST_URI']), $access->product_id)) ?>"><?php p($access->product_title) ?></a>
    <?php if($access->data()->get('ORIGINAL_BEGIN_DATE') || $access->data()->get('ORIGINAL_EXPIRE_DATE')) : ?>
        <div><em><?php __e('Record modified, original dates:') ?>
            <?php echo amDate($access->data()->get('ORIGINAL_BEGIN_DATE') ? $access->data()->get('ORIGINAL_BEGIN_DATE') : $access->begin_date)?>
            &ndash;
            <?php echo amDate($access->data()->get('ORIGINAL_EXPIRE_DATE') ? $access->data()->get('ORIGINAL_EXPIRE_DATE') : $access->expire_date)?>
            </em></div>
    <?php endif ?>
    <?php if (!empty($access->comment)) : ?>
        <div class="user-access-comment">
            <?php p($access->comment) ?>
        </div>
    <?php endif; ?>
    </td>
    <td class="live-edit-date" data-access_id="<?php echo $access->access_id;?>" data-field="begin_date"><div class="editable"></div>
        <span class="live-edit"><?php echo $access->begin_date ? amDate($access->begin_date) : "" ?></span>
    </td>
    <td class="live-edit-date" data-access_id="<?php echo $access->access_id;?>" data-field="expire_date"><div class="editable"></div>
        <span class="live-edit"><?php 
    if ($access->expire_date == Am_Period::MAX_SQL_DATE)
        __e('Lifetime');
    elseif ($access->expire_date == Am_Period::RECURRING_SQL_DATE)
        __e('Recurring');
    else    
        echo $access->expire_date ? amDate($access->expire_date) : "" ; ?></span></td>
    <td><?php echo $trAccessStatus[$access->getStatus()]; ?></td>
    <td>
        <?php echo $access->invoice_id ? ___('Invoice') . " <a class='invoice-link local' href='#invoice-{$access->invoice_id}'>$access->invoice_id/$access->invoice_public_id</a>" : ___('Manually Added') ?>
    </td>
    <td><?php echo $access->invoice_id ? "&nbsp;" : "<a href='javascript:' class='access-delete' id='access-delete-$access->access_id' title='" . ___('Delete') . "'>$iconDelete</a>"; ?></td>
</tr>
<?php endforeach; ?>
<tr class="user-access-form">
    <td><?php echo $accessForm->product_id ?></td>
    <td><?php echo $accessForm->begin_date ?></td>
    <td><?php echo $accessForm->expire_date ?></td>
    <td colspan="3"><?php echo $accessForm->save ; echo $accessForm->_hidden; ?></td>
</tr>
<tr class="user-access-form">
    <td>
        <?php __e('Comment for Your Reference') ?>: <br /><?php echo $accessForm->comment ?>
    </td>
    <td colspan="5">&nbsp;</td>
</tr>
</table>
</div>
</form>
</div>
<div class="add-payment-payment" style="display: none; width: 700px;">
    <?php echo $addForm; ?>
</div>

<div class="refund-payment" style="display: none; width: 700px;">
    <?php __e('Do you really want to refund payment')?> #<span class="refund-payment-id"></span>?
    
    <div class="auto"><p><?php __e('We will submit a request to payment system '.
    'or you will be redirected to payment system page '.
    'to submit refund request')?></p>
    </div>
    
    <div class="manual">
    <p><?php __e('Refunds are not implemented for this payment '.
    'system, so you can manually mark payment as refunded or charged-back.'.
    'Access will be revoked immediately.')?></p>
    <label><?php __e('Refund Type')?></label>
    <select name="refund_type" id="refund-type">
        <option value="refund"><?php __e('Add Refund')?></option>
        <option value="chargeback"><?php __e('Add Chargeback')?></option>
        <option value="correction"><?php __e('Delete payment and access record')?></option>
    </select>
    </div>
    
    <label for="refund-amount"><?php __e('Refund Amount')?></label>
    <input type="text" readonly="readonly" id="refund-amount" size="8" />
</div>

<div id="replace-product"></div>
<div id="stop-recurring"></div>
<div id="start-recurring"></div>
<div id="change-rebill-date"></div>
<div id="resend-payment-link"></div>
<script type="text/javascript">
window.user_id = <?php echo $user_id?>;

$(function(){

function convertDate(val){
    if(val == 'Recurring')
        return '<?php echo Am_Period::RECURRING_SQL_DATE;?>';
    if(val == 'Lifetime')
        return '<?php echo Am_Period::MAX_SQL_DATE;?>';
    return val;
}
$('.live-edit-date').live('click',function(){
    var td = $(this);
    if(td.data('mode') == 'edit') return;
    td.data('mode', 'edit');
    var txt = td.find('span.live-edit');
    txt.hide();
    td.find('.editable').hide();
    td.data('prev_value',convertDate(txt.text()));
    var input = td.find('input.live-edit');
    if(!input.length){
        input = $('<input type="text" name="_access_begin_date" class="live-edit datepicker" size="10">');
        input.appendTo(td);
    }

    initDatepicker(input.show().val(convertDate(td.find('span.live-edit').text())), {
                onClose : function(text, dp){
                    var parent = $(this).parent('td');
                    parent.data('mode', 'display');
                    parent.find('span.live-edit').show().text($(this).val());
                    parent.find('.editable').show();
                    if(text && (text != parent.data('prev_value'))){
                        data = {
                            'access_id' :   td.data('access_id'),
                            'field'     :   td.data('field'),
                            'access_date' : $(this).datepicker("getDate").toDateString()
                        }
                        $.post('<?php echo REL_ROOT_URL . '/admin-user-payments/change-access-date/user_id/';?>'+window.user_id, data,
                        function(data){
                            if(!data.success){
                                flashError(data.error); return false;
                            }
                            if(data.reload)
                                window.location.reload();
                        }
                    );
                    }
                    $(this).remove();
                        
                }
            }).focus();
            
});

$('#user-access-info select[name=product_id]').live('change', function(){
    var frm = this.form;
    if ($(this).val()) {
        $.post(window.rootUrl + '/admin-user-payments/calculate-access-dates',
            {
                'user_id' : window.user_id,
                'product_id' : $(this).val()
            }, function(data, textStatus, jqXHR){
                $('input[name=begin_date]', frm).datepicker('setDate', new Date(data.begin_date.replace(/-/g,"/")+" 01:00:00"));
                $('input[name=expire_date]', frm).datepicker('setDate', new Date(data.expire_date.replace(/-/g,"/")+" 01:00:00"));
            })
    }
})

<?php if($pendingInvoicesBlock) : ?>
function togglePendingInvoices(display){
    if(!display){
        var pendings;
        $(".user-invoice-pending").hide();
        $(".pending-invoices")
        .find(".count").html(pendings = $(".user-invoice-pending").length);
        if(pendings) $(".pending-invoices .show").toggle(true);
        $(".pending-invoices .hide").toggle(false);
    }else{
        $(".user-invoice-pending").show();
        $(".pending-invoices .show").toggle(false);
        $(".pending-invoices .hide").toggle(true);
    }
}

togglePendingInvoices(false);

$('.pending-invoices .show,.pending-invoices .hide').click(function(e){
    e.preventDefault();
    togglePendingInvoices($(this).hasClass('show') ? true : false);
});
<?php endif; ?>
$('.expand-details').click(function() {
    var is_open = $(this).closest('.user-invoice-header').next('.user-invoice-record').is(":visible");
    $(this).toggleClass('open', !is_open);
    $(this).find(".open").toggle(is_open);
    $(this).find(".close").toggle(!is_open);
    var $this = $(this);
    var $invoice = $(this).closest('.user-invoice');
    if (!$invoice.data('loaded')) {
        $('.user-invoice-record', $invoice).load('<?php j(REL_ROOT_URL) ?>/admin-user-payments/invoice-details/user_id/<?php j($this->user_id) ?>/?id=' + $invoice.data('invoice_id'), null, function(){
            $invoice.data('loaded', true);
            $this.closest('.user-invoice-header').next('.user-invoice-record').slideToggle('fast');
        });
    } else {
        $(this).closest('.user-invoice-header').next('.user-invoice-record').slideToggle('fast');
    }
    return false;
}).closest('.user-invoice-header').next('.user-invoice-record').hide();


$(".change-rebill-date").live('click', function(event){
    event.stopPropagation();
    var link = $(this);
    $("#change-rebill-date").html('<?php j(___('Do you really want to change Rebill Date for this invoice?'))?>'+
        '<br/><br/>'+
        '<?php j(___('Please specify new rebill date: '))?>');
    var input = $('<input class="datepicker" type="text" name="rebill_date" value="" id="rebill-date-picker" size="10">');
    input.appendTo($("#change-rebill-date")).val(link.data('rebill_date'));
    input.datepicker({
        dateFormat:window.uiDateFormat,
        changeMonth: true,
        changeYear: true

    });
    $("#change-rebill-date").dialog({
        autoOpen: true
        ,width: 350
        ,buttons: {
            "<?php j(___('Change')) ?>" : function(){
                $.ajax({
                  type: 'POST'
                  ,url: window.rootUrl + "/admin-user-payments/change-rebill-date/user_id/"+window.user_id+"/invoice_id/"+link.data('invoice_id')
                  ,data: {
                      'rebill_date' : $('#rebill-date-picker').val()
                  }
                  ,success: function(data, textStatus, request)
                  {
                    if (data.ok)
                    {
                        link.data('rebill_date', $('#rebill-date-picker').val());
                        link.html($('#rebill-date-picker').val());
                    } else {
                        alert("<?php j(___('Unable to change rebill date'))?>: " + data.msg);
                    }
                    $("#change-rebill-date").dialog("close");
                  }
                });

            }
            ,"<?php j(___('Cancel')) ?>" : function(){
                $(this).dialog("close");
            }
        }
        ,closeOnEscape: true
        ,title: "<?php j(___('Change Invoice Rebill Date'))?>"
        ,modal: true
    });
    return false;
});
$(".stop-recurring").live('click', function(event)
{
    event.stopPropagation();
    var link = this;
    $("#stop-recurring").html('<?php j(___('Do you really want to stop this subscription?'))?>');
    $("#stop-recurring").dialog({
        autoOpen: true
        ,width: 350
        ,buttons: {
            "<?php j(___('OK')) ?>" : function(){
                var url = link.href;
                $.ajax({
                  type: 'GET'
                  ,url: url
                  ,success: function(data, textStatus, request)
                  {
                    if (data.ok)
                    {
                        window.location.reload();
                    } else {
                        if (data.redirect) 
                            window.location.href = data.redirect;
                        else
                            alert("<?php j(___('Unable to cancel subscription'))?>: ", + data.msg);
                    }
                    $("#stop-recurring").dialog("close");
                  }
                });

            }
            ,"<?php j(___('Cancel')) ?>" : function(){
                $(this).dialog("close");
            }
        }
        ,closeOnEscape: true
        ,title: "<?php j(___('Cancel Subscription'))?>"
        ,modal: true
    });
    return false;
});
$(".start-recurring").live('click', function(event)
{
    event.stopPropagation();
    var link = this;
    $("#start-recurring").html('<?php j(___('Do you really want to restart this subscription?'))?>');
    $("#start-recurring").dialog({
        autoOpen: true
        ,width: 350
        ,buttons: {
            "<?php j(___('OK')) ?>" : function(){
                var url = link.href;
                $.ajax({
                  type: 'GET'
                  ,url: url
                  ,success: function(data, textStatus, request)
                  {
                    if (data.ok)
                    {
                        window.location.reload();
                    } else {
                        if (data.redirect) 
                            window.location.href = data.redirect;
                        else
                            alert("<?php j(___('Unable to restart subscription'))?>: ", + data.msg);
                    }
                    $("#start-recurring").dialog("close");
                  }
                });

            }
            ,"<?php j(___('Cancel')) ?>" : function(){
                $(this).dialog("close");
            }
        }
        ,closeOnEscape: true
        ,title: "<?php j(___('Restart Subscription'))?>"
        ,modal: true
    });
    return false;
});
$(".resend-payment-link").live('click', function(event){
    var link = $(this);
    $('#resend-payment-link').load(window.rootUrl + "/admin-user-payments/resend-payment-link/user_id/"+window.user_id+"/invoice_id/"+link.data('invoice_id'), null, function(){
        $(this).dialog({
            autoOpen: true
            ,width: 350
            ,buttons: {
                "<?php j(___('Send')) ?>" : function(){
                    $.ajax({
                      type: 'POST'
                      ,url: window.rootUrl + "/admin-user-payments/resend-payment-link/user_id/"+window.user_id+"/invoice_id/"+link.data('invoice_id')
                      ,data: $('#resend-payment-link form').serialize()
                      ,success: function(data, textStatus, request) {
                        if (data && data.ok) {
                            $('#invoice-' + data.invoice_id + '-due_date').empty().append(data.due_date_html);
                            $('#invoice-' + data.invoice_id + '-due_info').show();
                            link.html("<?php j(___('Resend Payment Link')) ?>").prop('title', "<?php j(___('Resend Payment Link')) ?>");
                            $("#resend-payment-link").dialog("close");
                            flashMessage(data.msg);
                        } else {
                            $('#resend-payment-link').empty().append(data);
                        }
                      }
                    });
                }
                ,"<?php j(___('Cancel')) ?>" : function(){
                    $(this).dialog("close");
                }
            }
            ,closeOnEscape: true
            ,title: "<?php j(___('Re Send Payment Link'))?>"
            ,modal: true
        });
    })
});
 
$(".refund-button").live('click', function()
{
    var id = $(this).attr('id').replace(/refund-button-/, '');
    var manual = $(this).hasClass('refund-button-manual');
    var link = this;
    $(".refund-payment-id").text(id);
    $(".refund-payment .manual").toggle(manual);
    $(".refund-payment .auto").toggle(!manual);
    $(".refund-payment input#refund-amount").val($(this).data('amount'));
    $(".refund-payment").dialog({
        autoOpen: true
        ,width: 350
        ,buttons: {
            "<?php j(___('OK')) ?>" : function(event){
                $(event.target).button("disable");
                var url = window.rootUrl + "/admin-user-payments/refund/user_id/"+window.user_id+"/invoice_payment_id/" + id;
                $.ajax({
                  type: 'POST'
                  ,url: url
                  ,data : { 
                      amount : $(".refund-payment input#refund-amount").val(),
                      type: $(".refund-payment select#refund-type:visible").val(),
                      manual : 0+manual
                  }
                  ,success: function(data, textStatus, request)
                  {
                    window.location.reload();
                  }
                });

            }
            ,"<?php j(___('Cancel')) ?>" : function(){
                $(this).dialog("close");
            }
        }
        ,closeOnEscape: true
        ,title: "<?php j(___('Refund Payment'))?>"
        ,modal: true
    });
});
function ajaxifyAddForm()
{
    var frm = $(".add-payment-payment form");
    frm.ajaxForm({
        target: '.add-payment-payment'
        ,beforeSubmit: function(arr, form, options) { 
            $("input[type='submit']", $(form)).val("<?php j(___('Submitting...'))?>").attr("disabled", "disabled");
            return true;
        }
        ,success: function() {
            ajaxifyAddForm(); 
            if ($(".add-payment-payment input[name='saved-ok']").length)
                window.location.reload();
        }
    });
}
$(".replace-product").live('click', function()
{
    var $this = $(this);
    var id = $this.data('invoice_item_id');
    $("#replace-product").html("<?php j(___('Loading...')) ?>")
        .load(window.rootUrl + "/admin-user-payments/replace-product?id="+id+"&user_id="+window.user_id);
    $("#replace-product").dialog({
        autoOpen: true
        ,width: 600
        ,buttons: {
        }
        ,closeOnEscape: true
        ,title: "<?php j(___('Replace Product'))?>"
        ,modal: true
    });    
});
$("#replace-product-form").live('submit', function() {
    $(this).ajaxSubmit({success: function(data){
            if (data.ok) 
                window.location.reload();
            else
                $("#replace-product").html(data);
    }});
    return false;
});

$(".add-payment-link").live('click', function()
{
    var $this = $(this);
    ajaxifyAddForm();
    $(".add-payment-payment input[name=invoice_id]").val($this.data('invoice_id'));
    $(".add-payment-payment select[name=paysys_id]").val($this.data('paysys_id'));
    var sel = $(".add-payment-payment select[name=amount]");
    sel.find('option').remove();
    $.each($this.data('amounts'), (function(k,v){ 
        var options = sel.prop('options');
        options[options.length] = new Option(v, v, true, true);
    }));
    $(".add-payment-payment").dialog({
        autoOpen: true
        ,width: 600
        ,closeOnEscape: true
        ,title: "<?php j(___('Add Payment'))?>"
        ,modal: true
    });
});

$("#user-access-info form").live('submit', function(){
    var frm = $(this);
    if (!$("input[name='begin_date']", frm).val()) { flashError("<?php j(___('Please enter start date')) ?>"); return false; }
    if (!$("input[name='expire_date']", frm).val()) { flashError("<?php j(___('Please enter expire date')) ?>"); return false; }
    if ($("input[name='expire_date']", frm).datepicker('getDate') < $("input[name='begin_date']", frm).datepicker('getDate')) {
        flashError("<?php j(___('Begin date should be before Expire date')) ?>"); return false;
    }
    if (!$("select[name='product_id']", frm).val()) { flashError("<?php j(___('Please choose product')) ?>"); return false; }
    var btn = $(":submit", frm);
    btn.attr("disabled", "disabled").val(btn.val() + "...");
    $("#user-access-info").load(frm.attr("action") + " #user-access-info",
        frm.serializeArray(), function(){
            initDatepicker('input.datepicker');
            $('select[name=product_id]').val('');
            $('input[name=comment]').val('');
            initAccessToggle();
        });
    return false;
});

$("#user-access-info a.access-delete").live('click', function(){
    var id = $(this).attr("id").replace(/^access-delete-/, '');
    if (!confirm('Really delete?')) return;
    $("#user-access-info").load(window.rootUrl + "/admin-user-payments/delaccess/user_id/"+window.user_id+" #user-access-info",
        { id: id }, function(){
            $('input.datepicker').datepicker({
                defaultDate: window.uiDefaultDate,
                dateFormat:window.uiDateFormat,
                changeMonth: true,
                changeYear: true
            });
            initAccessToggle();
        });
});

function initAccessToggle()
{
    $(".user-access-title a").click(function(){
        var data = $(".user-access-title").toggle().filter(":visible").data('status');
        $("tr.access").not(data).hide();
        $(data).show();
    });
}

function openInvoiceByHash()
{
    var id = window.location.hash.substr(1);
    $("a[name="+id+"]").next(".user-invoice-header").find('.expand-details').click();
}

$("a.invoice-link").live('click', function(){
    var id = this.href.replace(/.*#/, '');
    $("a[name="+id+"]").next(".user-invoice-header").find('.expand-details').click();
});

$('.user-invoice-pending').bind('mouseenter mouseleave', function(){
    $(this).toggleClass('user-invoice-pending');
})

initAccessToggle();
openInvoiceByHash();   

});
</script>