BODY	{
    	FONT-FAMILY: geneva, arial, sans-serif;
	FONT-SIZE: 11px;
	SCROLLBAR-BASE-COLOR: #9CA7C1
	}


 /* THIS LINE CONTROLS THE FONT SIZE ON ALL PAGES */
TABLE		{ COLOR: #000033; FONT: 11px geneva, verdana, arial, sans-serif }

.title		{ COLOR: #262662; FONT: 15px verdana, arial, sans-serif; font-weight: bold }

a:link		{ color: #003366; text-decoration: none }

a:visited	{ color: #003366; text-decoration: none }

a:active	{ color: #666666; text-decoration: none }

a:hover		{ color: #6699FF; text-decoration: none }

.biglink 	{ FONT: 12px verdana, arial, sans-serif; font-weight: bold; font-style: italic; TEXT-DECORATION: none }

.biglink:hover 	{ FONT: 12px verdana, arial, sans-serif; font-weight: bold; font-style: italic; TEXT-DECORATION: underline }

.just 		{text-align: justify;}

.copyright	{ COLOR: #000033; FONT: 10px geneva, verdana, arial, sans-serif }

.smalltitle 	{ COLOR: #000000; FONT: 11px verdana, arial, sans-serif; font-weight: bold }

.subtitle	{ COLOR: #9999CC; FONT: 12px geneva, verdana, arial, sans-serif; font-weight: bold }

.services 	{ COLOR: #262662; FONT: 12px arial, verdana, sans-serif; font-weight: bold }


.button-popups {background-color:#FFFFFF;
		FONT-FAMILY: arial, verdana, helvetica, sans;
		color: #000000;
		font-size: 8pt;
		cursor:hand;
		font-weight: bold;
		BORDER: #000000 1px solid }

.buttonon-popups {background-color:#F0F0F0;
		FONT-FAMILY: arial, verdana, helvetica, sans;
		color: #000099;
		font-size: 8pt;
		cursor:hand;
		font-weight: bold;
		BORDER: #000099 1px solid }

.button-popups2 {background-color:#FFFFFF;
		FONT-FAMILY: arial, verdana, helvetica, sans;
		color: #000000;
		font-size: 8pt;
		WIDTH: 140PX;
		cursor:hand;
		font-weight: bold;
		BORDER: #000000 1px solid }

.buttonon-popups2 {background-color:#F0F0F0;
		FONT-FAMILY: arial, verdana, helvetica, sans;
		color: #000099;
		font-size: 8pt;
		WIDTH: 140PX;
		cursor:hand;
		font-weight: bold;
		BORDER: #000099 1px solid }

.shadeform	{ FONT: 13px arial, verdana, sans-serif;
		background-image: url("picts/shadeform.gif");
		text-align: left;
		WIDTH: 180PX;
		BORDER: #000000 1px solid}


.dropdown {	COLOR: #333333;
		WIDTH: 180PX;
		FONT: 11px geneva, verdana, arial, sans-serif}


.textarea	{ FONT: 13px arial, verdana, sans-serif;
		background-image: url("picts/shadeform.gif");
		text-align: left;
		WIDTH: 300PX;
		BORDER: #000000 1px solid}

.searchform { 	WIDTH: 110PX;
		HEIGHT: 20PX;
		FONT: 11px arial, georgia, "Times New Roman", sans-serif;
		BORDER-BOTTOM: #000000 1px solid;
		BORDER-LEFT: #000000 1px solid;
		BORDER-RIGHT: #000000 1px solid;
		BORDER-TOP: #000000 1px solid }



.searchdrop { WIDTH: 60PX; HEIGHT: 20PX; FONT: 11px arial, georgia, "Times New Roman", sans-serif }


.searchbutton {	background-color:#F0F0F0;
		FONT-FAMILY: arial, verdana, helvetica, sans;
		color: #000000;
		font-size: 8pt;
		height: 18px;
		width: 40px;
		cursor:hand;
		font-weight: bold;
		text-align: center;
		BORDER: #000000 1px solid }


.divstyle {	position:absolute;
		border: #000000 1px solid;
		width:90;
		top:0;
		left:0 }

.pstyletitle{	postion:absolute;
		background:white;
		color:black;
		font-size:10px;
		font-family:verdana, arial }


.pstylebody {	postion:absolute;
		background:white;
		color:black;
		font-size:10px;
		font-family:verdana, arial }

 /* START CODE FOR THE SHOPPING CART AND GALLERY */

.rollover 	{ }

.rolloveron 	{ Filter: Alpha(Opacity=60) }

.price	 	{ COLOR: #FF3300; FONT: 13px verdana, arial, sans-serif; font-weight: bold }

.picturecomments{ COLOR: #666666; FONT: 10px geneva, verdana, arial, sans-serif }

.picturetitle 	{ COLOR: #000000; FONT: 10px verdana, arial, sans-serif; font-weight: bold }


 /* START THE CODE FOR THE MENUS */



#menulocation { LEFT: 7px; WIDTH: 168px; POSITION: absolute; TOP: 100px; padding:0px 0px; white-space:nowrap; }


.menu		{ font-family: arial, verdana, helvetica, sans;
		  font-size: 9pt;
		  height: 25px;
		  width: 168px;
		  cursor:hand;
		  font-weight: bold;
		  text-indent: 8px;
		  line-height: 18pt;
		  text-align: left;
		  display: block;
		  border: #FFFFFF 0px solid; }


a.menu:link 	{ background-image: url("picts/menu.gif");
		  background-color:#E2E6ED;
		  color: #003366; }


a.menu:visited 	{ background-image: url("picts/menu.gif");
		  background-color:#E2E6ED;
		  color: #003366; }


a.menu:active 	{  background-image: url("picts/menuon.gif");
		   background-color:#E2E6ED;
		   color: #666699; }


a.menu:hover 	{ background-image: url("picts/menuon.gif");
		  background-color:#E2E6ED;
		  color: #666699; }