html {
	width: 100%;
	background: #336699 url(http://www.frontierweather.com/picts/modelbackground_temps.png) top left fixed no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}

BODY	{

	position: relative;
	margin: 0 90;
    	FONT-FAMILY: geneva, arial, sans-serif;
	FONT-SIZE: 11px;
	SCROLLBAR-BASE-COLOR: #9CA7C1
	}


 /* THIS LINE CONTROLS THE FONT SIZE ON ALL PAGES */
TABLE		{ COLOR: #000033; FONT: 11px geneva, verdana, arial, sans-serif }

.title		{ COLOR: #262662; FONT: 18px verdana, arial, sans-serif; font-weight: bold }


a:link		{ color: #003366; text-decoration: none }

a:visited	{ color: #003366; text-decoration: none }

a:active	{ color: #666666; text-decoration: none }

a:hover		{ color: #6699FF; text-decoration: none }

.biglink 	{ FONT: 12px verdana, arial, sans-serif; font-weight: bold; font-style: italic; TEXT-DECORATION: none }

.biglink:hover 	{ FONT: 12px verdana, arial, sans-serif; font-weight: bold; font-style: italic; TEXT-DECORATION: underline }

.just 		{text-align: justify;}

.copyright	{ COLOR: #000033; FONT: 10px geneva, verdana, arial, sans-serif }

.smalltitle 	{ COLOR: #000000; FONT: 11px verdana, arial, sans-serif; font-weight: bold }

.subtitle	{ COLOR: #9999CC; FONT: 12px geneva, verdana, arial, sans-serif; font-weight: bold }

.services 	{ COLOR: #262662; FONT: 12px arial, verdana, sans-serif; font-weight: bold }

.table		{ COLOR: #000000; FONT: 11px times, verdana, arial, sans-serif }

form input {
	border: 1px solid #666;
	color: #666;
	background: #ffffff;
	font-size: 12px;
	padding: 3px;
}
form input.btn {
	font-size: 11px;
	padding: 2px 7px;
	color: #333;
	cursor: pointer;
}
form input:hover {
	border-color: #333;
}
form input:focus {
	border-color: #000;
	color: #000;
	background: #fff;
}
form input.btn:hover {
	background: #fff;
}
form label {
	font-size: 10px;
	font-weight: bold;
}
form label input {
	margin-left: 5px;
}
.button-popups {background-color:#FFFFFF;
		FONT-FAMILY: arial, verdana, helvetica, sans;
		color: #000000;
		font-size: 8pt;
		cursor:hand;
		font-weight: bold;
		WIDTH: 120PX;
		BORDER: #000000 1px solid }

.buttonon-popups {background-color:#F0F0F0;
		FONT-FAMILY: arial, verdana, helvetica, sans;
		color: #000099;
		font-size: 8pt;
		cursor:hand;
		font-weight: bold;
		WIDTH: 120PX;
		BORDER: #000099 1px solid }

.button-popups2 {background-color:#FFFFFF;
		FONT-FAMILY: arial, verdana, helvetica, sans;
		color: #000000;
		font-size: 8pt;
		cursor:hand;
		font-weight: bold;
		WIDTH: 80PX;
		BORDER: #000000 1px solid }

.buttonon-popups2 {background-color:#F0F0F0;
		FONT-FAMILY: arial, verdana, helvetica, sans;
		color: #000099;
		font-size: 8pt;
		cursor:hand;
		font-weight: bold;
		WIDTH: 80PX;
		BORDER: #000099 1px solid }

.button-popups3 {background-color:#FFFFFF;
		FONT-FAMILY: arial, verdana, helvetica, sans;
		color: #000000;
		font-size: 8pt;
		cursor:hand;
		font-weight: bold;
		WIDTH: 64PX;
		BORDER: #000000 1px solid }

.buttonon-popups3 {background-color:#F0F0F0;
		FONT-FAMILY: arial, verdana, helvetica, sans;
		color: #000099;
		font-size: 8pt;
		cursor:hand;
		font-weight: bold;
		WIDTH: 64PX;
		BORDER: #000099 1px solid }

.button-popups4 {background-color:#FFFFFF;
		FONT-FAMILY: arial, verdana, helvetica, sans;
		color: #000000;
		font-size: 8pt;
		cursor:hand;
		font-weight: bold;
		WIDTH: 128PX;
		BORDER: #000000 1px solid }

.buttonon-popups4 {background-color:#F0F0F0;
		FONT-FAMILY: arial, verdana, helvetica, sans;
		color: #000099;
		font-size: 8pt;
		cursor:hand;
		font-weight: bold;
		WIDTH: 128PX;
		BORDER: #000099 1px solid }

.button-popups5 {background-color:#FFFFFF;
		FONT-FAMILY: arial, verdana, helvetica, sans;
		color: #000000;
		font-size: 8pt;
		cursor:hand;
		font-weight: bold;
		WIDTH: 15PX;
		BORDER: #000000 1px solid }

.buttonon-popups5 {background-color:#F0F0F0;
		FONT-FAMILY: arial, verdana, helvetica, sans;
		color: #000099;
		font-size: 8pt;
		cursor:hand;
		font-weight: bold;
		WIDTH: 15PX;
		BORDER: #000099 1px solid }

.button-popups6 {background-color:#FFFFFF;
		FONT-FAMILY: arial, verdana, helvetica, sans;
		color: #000000;
		font-size: 8pt;
		cursor:hand;
		font-weight: bold;
		WIDTH: 25PX;
		BORDER: #000000 1px solid }

.buttonon-popups6 {background-color:#F0F0F0;
		FONT-FAMILY: arial, verdana, helvetica, sans;
		color: #000099;
		font-size: 8pt;
		cursor:hand;
		font-weight: bold;
		WIDTH: 25PX;
		BORDER: #000099 1px solid }

.shadeform	{ FONT: 13px arial, verdana, sans-serif;
		background-image: url("picts/shadeform.gif");
		text-align: left;
		WIDTH: 180PX;
		BORDER: #000000 1px solid}


.dropdown {	COLOR: #333333;
		WIDTH: 180PX;
		FONT: 11px geneva, verdana, arial, sans-serif}


.textarea	{ FONT: 13px arial, verdana, sans-serif;
		background-image: url("picts/shadeform.gif");
		text-align: left;
		WIDTH: 300PX;
		BORDER: #000000 1px solid}

.searchform { 	WIDTH: 110PX;
		HEIGHT: 20PX;
		FONT: 11px arial, georgia, "Times New Roman", sans-serif;
		BORDER-BOTTOM: #000000 1px solid;
		BORDER-LEFT: #000000 1px solid;
		BORDER-RIGHT: #000000 1px solid;
		BORDER-TOP: #000000 1px solid }



.searchdrop { WIDTH: 60PX; HEIGHT: 20PX; FONT: 11px arial, georgia, "Times New Roman", sans-serif }


.searchbutton {	background-color:#F0F0F0;
		FONT-FAMILY: arial, verdana, helvetica, sans;
		color: #000000;
		font-size: 8pt;
		height: 18px;
		width: 40px;
		cursor:hand;
		font-weight: bold;
		text-align: center;
		BORDER: #000000 1px solid }


.divstyle {	position:absolute;
		border: #000000 1px solid;
		width:90;
		top:0;
		left:0 }

.pstyletitle{	postion:absolute;
		background:white;
		color:black;
		font-size:10px;
		font-family:verdana, arial }


.pstylebody {	postion:absolute;
		background:white;
		color:black;
		font-size:10px;
		font-family:verdana, arial }

 /* START CODE FOR THE SHOPPING CART AND GALLERY */

.rollover 	{ }

.rolloveron 	{ Filter: Alpha(Opacity=60) }

.price	 	{ COLOR: #FF3300; FONT: 13px verdana, arial, sans-serif; font-weight: bold }

.picturecomments{ COLOR: #666666; FONT: 10px geneva, verdana, arial, sans-serif }

.picturetitle 	{ COLOR: #000000; FONT: 10px verdana, arial, sans-serif; font-weight: bold }


 /* START THE CODE FOR THE MENUS */



#menulocation { LEFT: 7px; WIDTH: 168px; POSITION: absolute; TOP: 100px; padding:0px 0px; white-space:nowrap; }


.menu		{ font-family: arial, verdana, helvetica, sans;
		  font-size: 9pt;
		  height: 25px;
		  width: 143px;
		  cursor:hand;
		  font-weight: bold;
		  text-indent: 8px;
		  line-height: 18pt;
		  text-align: center;
		  display: block;
		  border: #FFFFFF 0px solid; }


a.menu:link 	{ background-color:#A6B0C8;
		  color: #003366; }


a.menu:visited 	{ background-color:#A6B0C8;
		  color: #003366; }


a.menu:active 	{  background-color:#D8DcE7;
		   color: #666699; }


a.menu:hover 	{ background-color:#D8DcE7;
		  color: #666699; }

.menu2		{ font-family: arial, verdana, helvetica, sans;
		  font-size: 9pt;
		  height: 25px;
		  width: 103px;
		  cursor:hand;
		  font-weight: bold;
		  text-indent: 8px;
		  line-height: 18pt;
		  text-align: center;
		  display: block;
		  border: #FFFFFF 0px solid; }


a.menu2:link 	{ background-color:#A6B0C8;
		  color: #003366; }


a.menu2:visited { background-color:#A6B0C8;
		  color: #003366; }


a.menu2:active 	{  background-color:#D8DcE7;
		   color: #666699; }


a.menu2:hover 	{ background-color:#D8DcE7;
		  color: #666699; }

.timedisplay	{ font-family: arial, verdana, helvetica, sans;
		  font-size: 9pt;
		  height: 25px;
		  font-weight: bold;
		  text-indent: 11px;
		  line-height: 18pt;
		  text-align: center;
		  padding-right: 7px;
		  display: block;
		  border: #FFFFFF 0px solid; }

.menu2n		{ font-family: arial, verdana, helvetica, sans;
		  font-size: 9pt;
		  color: #003366;
		  height: 25px;
		  cursor:hand;
		  font-weight: bold;
		  text-indent: 15px;
		  line-height: 18pt;
		  text-align: center;
		  padding-right: 15px;
		  display: block;
		  border: #FFFFFF 0px solid; }


a.menu2n:link 	{ background-color:#ffffff;
		  color: #003366; }


a.menu2n:visited { background-color:#ffffff;
		  color: #003366; }


a.menu2n:active {  background-color:#ffffff;
		   color: #666699; }


a.menu2n:hover 	{ background-color:#D8DcE7;
		  color: #666699; }

form.fwlogin {
	margin: 10px 0 10px 0;
}
form.fwlogin fieldset {
	position: relative;
	margin-top: -5px;
	background: #eaeaec;
	border: 1px solid #5f7acf;
	color: #333;
	font-size: 11px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
form.fwlogin fieldset legend {
	font-size: 13px;
	font-weight: bold;
	color: #495d9e;
	padding: 0 5px;
}
html legend { position:absolute; top: -.7em; left: 2.5em; }
html fieldset{ position: relative; margin-top:1em; padding-top:.75em; }
form.fwlogin label.password {
	margin-left: 10px;
}
form.fwlogin label.username input,
form.fwlogin label.password input {
	width: 65px;
}
form.fwlogin input.btn {
	margin-top: 10px;
}


tableblock {
	margin: 10px 0 10px 0;
}
tableblock fieldset {
	position: relative;
	margin-top: -5px;
	background: #eaeaec;
	border: 1px solid #5f7acf;
	color: #333;
	font-size: 11px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
tableblock fieldset legend {
	font-size: 13px;
	font-weight: bold;
	color: #495d9e;
	padding: 0 5px;
}

 /* TOP LEVEL MENU CONTROL */


a.menu_TOP{
display:block;
line-height: 14pt;
text-align: center;
text-decoration:none;
border-right: #666666 1px solid;
}



 /* SUB LEVEL MENU CONTROL */


a.menu_SUB{
display:block;
padding: 2px 2px 2px 4px;
text-decoration:none;
filter:alpha(opacity=100);
border-bottom: #000000 1px solid;
}


 /* MORE SUB LEVEL MENU CONTROL */


.menu_DIV{
border-top: #000000 1px solid;
border-bottom: #666666 0px solid;
border-right: #666666 1px solid;
border-left: #666666 1px solid;
filter:alpha(opacity=100);
z-index:100;
}


/* This controls global text in the html <pre> tags */
pre {  font-family: arial, helvetica, serif;
           font-size:12px;
          color:#000000;}

/* General global font settings used in several templates */


.small { font-size:10px; color:#000000; text-decoration:none; font-weight:normal;}
.smallBold { font-size:10px; color:#000000; text-decoration:none; font-weight:bold;}
.normal { font-size:12px; color:#000000; text-decoration:none; font-weight:normal;}
.normalBold { font-size:12px; color:#000000; text-decoration:none; font-weight:bold;}
.large { font-size:16px; color:#000000; text-decoration:none; font-weight:normal;}
.largeBold { font-size:16px; color:#000000; text-decoration:none; font-weight:bold;}

a.redLink:link{font-size: 12px; color: #FF0000; text-decoration:none; }
a.redLink:hover {font-size: 12px; color: #FF0000; text-decoration:underline; }
a.redLink:visited {font-size: 12px; color: #FF0000; text-decoration:none; }
.redLink{font-size: 12px; color: #FF0000; text-decoration:none; }

/* Font settings for the Left Navagation links */

.sideLink { font-size:11px; color:#000000; text-decoration:none; font-weight:normal;}
a.sideLink:link { font-size:11px; color:#000000; text-decoration:none; font-weight:normal;}
a.sideLink:active { font-size:11px; color:#000000; text-decoration:none; font-weight:normal;}
a.sideLink:hover { font-size:11px; color:#000000; text-decoration:underline; font-weight:normal;}

/* Font settings for the nav_xxx.html templates not selected */

.navBar { font-size:12px; color:#FFFFFF; text-decoration:none; font-weight:bold;}
a.navBar:link { font-size:12px; color:#FFFFFF; text-decoration:none; font-weight:bold;}
a.navBar:hover {font-size:12px; color:#FFFFFF; text-decoration:underline; font-weight:bold;}

/* Font settings for the nav_xxx.html templates  selected */

.navBarAct { font-size:12px; color:#FFCC00; text-decoration:none; font-weight:bold;}
a.navBarAct:link { font-size:12px; color:#FFCC00; text-decoration:none; font-weight:bold;}
a.navBarAct:hover {font-size:12px; color:#FFCC00; text-decoration:underline; font-weight:bold;}



/* Color Font and Link settings for the Lt. Blue Headers */

	.headerTD {padding: 5px;background: #666699;}
	.headerText {  font-size: 13px; font-weight: bold; color: #FFFFFF;}
	.headerDate {   color:#FFFFFF;  font-size: 11px; font-weight: normal;}
                a.zoneDay { font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration:none; font-style: italic;}
	.basicHeaderText{ padding-left: 5px;font-size: 16px; font-weight: bold; }
.fcExpire {font-size: 11px; color: #FF0000;  font-weight:bold;}

/* Advisory Title name in zonesection, warnings and special templates  */

		 .warnTitle {color: #FF0000; font-weight: bold; font-size: 14px; }
                               a.warnTitle:link {text-decoration:none; color: #FF0000; font-weight: bold; font-size: 14px; }
                              a.warnTitle:hover {text-decoration:underline; color: #FF0000; font-weight: bold; font-size: 14px; }


	.afd { padding-left: 5px;}

/* font settings for local_header.html and radar_header.html template */

	#localHeader { }
	#localHeader .Place { color:#000000; padding-left: 5px; font-size: 16px;  font-weight: bold; }
	#localHeader .Wxn {  padding-left: 5px; font-weight: bold; }
	#localHeader .Label {color:#000000; font-size: 10px;  font-weight: bold; }
	#localHeader .Value { color:#000000; font-size: 10px;}
                #localHeader a.Icao  {font-size: 10px; color: #FF0000; text-decoration:none; }
               #localHeader a.Icao:hover  {font-size: 10px; color: #FF0000; text-decoration:underline; }
               #localHeader a.Icao:visited  {font-size: 10px; color: #FF0000; text-decoration:none; }

/* Font settings for zonesection  */
	#forecastDetail {margin-left: 5px;}
	#forecastDetail .dayTitle { color:#000000; font-weight: bold; font-size: 13px;}
	#forecastDetail .wx {color: #000000; font-size: 12px;}
	#forecastDetail .include {color: #0000FF; font-size: 12px; font-weight:bold;}
               #forecastDetail .cities {color: #000000; font-size: 11px;}

/* Font settings for zone_rows  */
	#forecastRow {}
	#forecastRow .Title { font-size: 12px;  font-weight: bold; }
	#forecastRow .wx { font-size: 12px;  font-weight: normal;}
	#forecastRow .high {font-size: 12px; color: #FF0000; }
	#forecastRow .low {font-size: 12px; color: #0000FF; }
	#forecastRow .pop {font-size: 12px; color: #238E23; }

/* font settings for current template */
	#currents {}
	#currents .Wx { font-size: 14px; color:#000000;  font-weight: bold; }
	#currents .Temp { font-size: 16px; color:#000000;  font-weight: bold;}
	#currents .Label {font-weight: bold; font-size:12px; color:#000000; }
	#currents .Value {font-weight: normal; font-size:12px; color:#000000;}

/* font settings in astro template */
	#astro {}
	#astro .Label {font-weight: bold; font-size:12px; color:#000000; text-decoration:none; }
               #astro a.Label:link {font-weight: bold; font-size:12px; color:#000000; text-decoration:none;}
                 #astro a.Label:hover {font-weight: bold; font-size:12px; color:#000000; text-decoration:underline;}
	#astro .Value {font-weight: normal; font-size:12px; color:#000000;}
                #astro .Moonname {font-weight: normal; font-size:11px; color:#000000;}

/* row background colors for mos and your weather settings */

.rowColor1 { background: #FFCC00;}
.rowColor2 { background: #C0C0C0;}

/* Ridge Radar Control */
/* id radarTable is an addition for */
/* IE and Mozilla Compatablilty */
#radarTable{
   height:580px;
   width:600px;

}
.radarmap {
    position : relative;
    left : 0;
    top : 0;
    height : 550px;
    width : 600px;
}
.image2 {
    position : absolute;
    left : 0;
    top : 0;
}
.image3 {
    position : absolute;
    left : 0;
    top : 0;
}
.image4 {
    position : absolute;
    left : 0;
    top : 0;
}
.image5 {
    position : absolute;
    left : 0;
    top : 0;
}
.image6 {
    position : absolute;
    left : 0;
    top : 0;
}
.image7 {
    position : absolute;
    left : 0;
    top : 0;
}
.image8 {
    position : absolute;
    left : 0;
    top : 0;
}
.image9 {
    position : absolute;
    left : 0;
    top : 0;
}
.image10 {
    position : absolute;
    left : 0;
    top : 0;
}


#caradarTable{

 height:480px;
   width:580px;


}
.caradarmap {
    position : relative;
    left : 0;
    top : 0;
    height : 480px;
    width : 580px;
}

