tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.style16
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal_Lookup;}
.style19
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal_NAvg;}
.style21
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal_NewNMax;}
.style18
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal_NMax;}
.style20
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal_RawAvgs;}
.style17
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal_Sheet1;}
.style22
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal_Sheet2;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl72
	{mso-style-parent:style0;
	mso-number-format:"mm\/dd\/yyyy";}
.xl73
	{mso-style-parent:style0;
	mso-number-format:"Short Date";}
.xl74
	{mso-style-parent:style0;
	mso-number-format:0;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#CCFFCC;
	mso-pattern:black none;}
.xl75
	{mso-style-parent:style0;
	mso-number-format:0;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#CCFFCC;
	mso-pattern:black none;}
.xl76
	{mso-style-parent:style0;
	mso-number-format:0;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:silver;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style0;
	mso-number-format:0;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:silver;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	background:#FFCC99;
	mso-pattern:black none;}
.xl79
	{mso-style-parent:style0;
	background:#FFCC99;
	mso-pattern:black none;}
.xl80
	{mso-style-parent:style0;
	mso-number-format:0;
	background:silver;
	mso-pattern:black none;}
.xl81
	{mso-style-parent:style0;
	mso-number-format:0;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#FF9900;
	mso-pattern:black none;}
.xl82
	{mso-style-parent:style0;
	mso-number-format:0;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#FF9900;
	mso-pattern:black none;}
.xl83
	{mso-style-parent:style0;
	font-family:"Arial Unicode MS";
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.xl84
	{mso-style-parent:style16;
	color:black;
	text-align:center;
	border:.5pt solid black;
	background:silver;
	mso-pattern:black none;}
.xl85
	{mso-style-parent:style16;
	color:black;
	border:.5pt solid silver;
	white-space:normal;}
.xl86
	{mso-style-parent:style16;
	color:black;
	border-top:none;
	border-right:.5pt solid silver;
	border-bottom:none;
	border-left:.5pt solid silver;
	white-space:normal;}
.xl87
	{mso-style-parent:style0;
	mso-number-format:"0\.0";}
.xl88
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black none;}
.xl89
	{mso-style-parent:style0;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:right;
	background:white;
	mso-pattern:black none;}
.xl90
	{mso-style-parent:style0;
	mso-number-format:"General Date";}
.xl91
	{mso-style-parent:style0;
	mso-number-format:Scientific;}
.xl92
	{mso-style-parent:style0;
	text-align:center;}
.xl93
	{mso-style-parent:style0;
	mso-number-format:"Short Date";
	text-align:center;}
.xl94
	{mso-style-parent:style0;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:left;
	background:white;
	mso-pattern:black none;}
.xl95
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#CCCCFF;
	mso-pattern:black none;}
.xl96
	{mso-style-parent:style0;
	font-size:8.0pt;
	background:white;
	mso-pattern:black none;}
.xl97
	{mso-style-parent:style0;
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl98
	{mso-style-parent:style0;
	mso-number-format:"Short Date";
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl99
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid #969696;
	background:white;
	mso-pattern:black none;}
.xl100
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid #969696;
	border-right:none;
	border-bottom:.5pt solid #969696;
	border-left:.5pt solid #969696;
	background:white;
	mso-pattern:black none;}
.xl101
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid #969696;
	border-right:.5pt solid #969696;
	border-bottom:none;
	border-left:.5pt solid #969696;
	background:white;
	mso-pattern:black none;}
.xl102
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid #969696;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #969696;
	background:white;
	mso-pattern:black none;}
.xl103
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid #969696;
	border-bottom:.5pt solid #969696;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl104
	{mso-style-parent:style0;
	mso-number-format:"Short Date";
	text-align:center;
	border:.5pt solid #969696;
	background:white;
	mso-pattern:black none;}
.xl105
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #969696;
	border-left:.5pt solid #969696;
	background:white;
	mso-pattern:black none;}
.xl106
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid #969696;
	border-right:.5pt solid #969696;
	border-bottom:.5pt solid #969696;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl107
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid #969696;
	border-right:.5pt solid #969696;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl108
	{mso-style-parent:style0;
	mso-number-format:"Short Date";
	text-align:center;
	border-top:.5pt solid #969696;
	border-right:.5pt solid #969696;
	border-bottom:none;
	border-left:.5pt solid #969696;
	background:white;
	mso-pattern:black none;}
.xl109
	{mso-style-parent:style0;
	mso-number-format:"Short Date";
	text-align:center;
	border-top:none;
	border-right:.5pt solid #969696;
	border-bottom:.5pt solid #969696;
	border-left:.5pt solid #969696;
	background:white;
	mso-pattern:black none;}
.xl110
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid #969696;
	border-bottom:.5pt solid #969696;
	border-left:.5pt solid #969696;
	background:white;
	mso-pattern:black none;}
.xl111
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid #969696;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid #969696;
	background:#CCCCFF;
	mso-pattern:black none;}
.xl112
	{mso-style-parent:style17;
	color:black;
	border:.5pt solid silver;
	white-space:normal;}
.xl113
	{mso-style-parent:style17;
	color:black;
	white-space:normal;}
.xl114
	{mso-style-parent:style0;
	border:.5pt solid silver;}
.xl115
	{mso-style-parent:style18;
	color:black;
	text-align:center;}
.xl116
	{mso-style-parent:style18;
	color:black;
	white-space:normal;}
.xl117
	{mso-style-parent:style18;
	color:black;
	text-align:right;
	white-space:normal;}
.xl118
	{mso-style-parent:style19;
	color:black;
	text-align:right;
	white-space:normal;}
.xl119
	{mso-style-parent:style20;
	color:black;
	white-space:normal;}
.xl120
	{mso-style-parent:style20;
	color:black;
	text-align:right;
	white-space:normal;}
.xl121
	{mso-style-parent:style21;
	color:black;
	text-align:right;
	white-space:normal;}
.xl122
	{mso-style-parent:style22;
	color:black;
	border:.5pt solid silver;
	white-space:normal;}
.xl123
	{mso-style-parent:style18;
	color:black;
	text-align:right;
	border-top:none;
	border-right:.5pt solid silver;
	border-bottom:none;
	border-left:.5pt solid silver;
	white-space:normal;}
.xl124
	{mso-style-parent:style22;
	color:black;
	border-top:none;
	border-right:.5pt solid silver;
	border-bottom:none;
	border-left:.5pt solid silver;
	white-space:normal;}
.xl125
	{mso-style-parent:style20;
	color:black;
	border:.5pt solid silver;
	white-space:normal;}
.xl126
	{mso-style-parent:style20;
	color:black;
	text-align:right;
	border:.5pt solid silver;
	white-space:normal;}
.xl127
	{mso-style-parent:style21;
	color:black;
	text-align:right;
	border:.5pt solid silver;
	white-space:normal;}
.xl128
	{mso-style-parent:style20;
	color:black;
	border-top:none;
	border-right:.5pt solid silver;
	border-bottom:none;
	border-left:.5pt solid silver;
	white-space:normal;}
.xl129
	{mso-style-parent:style0;
	font-size:11.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl130
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	background:white;
	mso-pattern:black none;}
