<?php if ($resources): /* Customer have active subscriptions, display it if config allows */ ?>
    <ul id="member-resources">
        <?php foreach ($resources as $r): ?>
            <?php if ($l = $r->renderLink()) : ?>
            <li><?php echo $l; ?>
                <?php if (@$r->desc) : ?>
                    <div><?php echo @$r->desc;?></div>
                <?php endif; ?>
            </li>
            <?php endif; ?>
        <?php endforeach ?>
    </ul>
<?php elseif (!$member_products): /* Customer doesn't have any active subscriptions */ ?>
    <h3><?php __e('You have no active subscriptions') ?></h3>
    <p><?php __e('Please use %sAdd/Renew subscription%s form','<a href="' . REL_ROOT_URL . '/signup">','</a>') ?>
    <?php __e('to order or renew subscription.') ?></p>
<?php endif ?>
<?php if ($left_member_links):?>
    <ul>
        <?php foreach ($left_member_links as $u=>$t): ?>
            <li><a href="<?php p($u) ?>"><?php echo $t ?></a></li>
        <?php endforeach ?>
    </ul>
<?php endif ?>