<ul>
<li><a href="http://www.frontierweather.com/passwordchangerequest.html">Request a new user name or password</a>
<li><a href="https://billpay.quickbooks.com/j/crm/frontierweatherinc.f26n">Pay an invoice with a credit card</a>
<li><a href="mailto:sstrum@frontierweather.com">Contact us to make a change to your subscription</a>
<li><a href="http://www.frontierweather.com/weatherdatastoresubscribe.html">Purchase a historical data only subscription (data updated monthly)</a>
</ul>

<TABLE BORDER=0 cellpadding=0 cellspacing=0 width="100%">

<tr><td colspan="2"><center><font size="3">Frontier Weather Contact Information</font></td></tr>
<TR><TD width="50%"><center>

<table border="0">
<tr><td><font size="2">

<b>ADDRESS:</b><br>
Frontier Weather, Inc.<br>
6140 S. 104th E. Ave<br>
Suite #300<br>
Tulsa, OK  74133-1588<br>
<b>PHONE:</b> 918-252-7791
<br>
<b>FAX:</b> 866-892-8521
<p>
</td></tr></table>


</td><td valign="top"><center>

<table border="0"><tr><td>
<font size="2">
<b>EMAIL:</b>
<br>Stephen Strum: <a href="mailto:sstrum@frontierweather.com">sstrum@frontierweather.com</a><br>
<i>President & Lead Meteorologist</i><p>
Jim Southard: <a href="mailto:jsouthard@frontierweather.com">jsouthard@frontierweather.com</a><br>
<i>Meteorologist</i>
</td></tr></table>

</td></tr>

</tr></table>