<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="http://www.frontierweather.com/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="http://www.frontierweather.com/css/style2.css" type="text/css" />
	<link rel="stylesheet" href="http://www.frontierweather.com/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="http://www.frontierweather.com/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="http://www.frontierweather.com/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="http://www.frontierweather.com/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="http://www.frontierweather.com/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Document Title
	============================================= -->
	<title>Frontier Weather: Login</title>
<style>

#header .btn {
	margin: 33px 0 33px 15px;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

#header.sticky-header .btn { margin: 13px 0 13px 15px; }

@media (max-width: 991px) {

	#header .btn {
		position: absolute;
		margin: 0;
		top: 33px;
		left: auto;
		right: 15px;
	}

}
    .wdt-logo img {
        width: 85px;
    }
</style>
</head>

<body class="stretched no-transition">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="full-header"><div id="header-wrap"><div class="container clearfix"><div id="primary-menu-trigger"><i class="icon-reorder"></i></div><!-- Logo --><div id="logo"><a href="http://www.frontierweather.com/index.html" class="standard-logo" data-dark-logo="http://www.frontierweather.com/images/FWLogo.png"><img src="http://www.frontierweather.com/images/FWLogo.png" alt="Frontier Weather Logo" width=“250”></a><a href="index.html" class="retina-logo" data-dark-logo="http://www.frontierweather.com/images/FWLogo2x.png"><img src="http://www.frontierweather.com/images/FWLogo2x.png" alt="Frontier Weather Logo" width=“250”></a></div><!-- #logo end —><!-- Primary Navigation --><nav id="primary-menu"><ul><li><a href="http://www.frontierweather.com/subscribers/index.php"><div>Weather Subscribers</div></a></li><li><a href="http://www.frontierweather.com/weatherdatastore.html"><div>Data Subscribers</div></a></li><li><a href="http://www.frontierweather.com/climateandtools.html"><div>Free Tools</div></a></li><li><a href="http://www.frontierweather.com/contact.html"><div>Contact & FAQ</div></a></li>                            <li><a href="http://wdtinc.com/" class="wdt-logo"><img src="http://bcvqk2qenb52nqcjvgpvx24x.wpengine.netdna-cdn.com/wp-content/uploads/2017/01/wdt-new-mark-300x68.png" alt="WDTinc.com"></a></li></ul><a href="http://www.frontierweather.com/amember/login" class="btn btn-default hidden-xs">Login</a><a href="http://www.frontierweather.com/amember/login" class="btn btn-default visible-xs"><i class="icon-lock"></i></a></nav><!-- #primary-menu end --></div></div></header>

		<!-- #header end -->

 		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">
			<div class="container clearfix">
	 	<!-- CONTENT-->


        <?php echo $this->placeholder('body-start'); ?>
        <div class="am-layout">
            <a name="top"></a>
            <div class="am-header"> </div>
 
            <!-- sample image from theme folder -->
            <?php echo $this->_scriptImg('large-alert.png'); ?>
 
            <div class="am-body">
                <div class="am-body-content-wrapper am-main">
                    <div class="am-body-content">
                        <?php include $this->_script('_top.phtml'); ?>
                        <?php if (empty($this->layoutNoTitle)): ?>
                            <h1><?php echo $title ?></h1>
                        <?php endif; ?>
                        <!-- content starts here -->
                        <?php echo $content ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="am-footer">
        </div>
        <?php echo $this->render('_popup.phtml'); ?>
        <?php echo $this->placeholder('body-finish'); ?>


		<!-- CONTENT-->
		</div></div>
		</section>
		      
     
                </div>
		<!-- #content end -->
		<footer id="footer" class="dark">
			<div class="container">
				<!-- Footer Widgets
				============================================= -->
				<script type="text/javascript" src="http://www.frontierweather.com/newfooter.js"></script>
				<!-- .footer-widgets-wrap end -->
			</div>
			<!-- Copyrights
			============================================= -->
			<div id="copyrights">
				<div class="container clearfix">
					<div class="col">
					<script language="JavaScript" src="http://www.frontierweather.com/newcopyright.js"></script>
					</div>
					<div class="col_half col_last tright">
						<div class="fright clearfix">
						</div>
				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->
	</div><!-- #wrapper end -->
	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>
	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="http://www.frontierweather.com/js/functions.js"></script>

</body>
</html>