<?php $lastRefundsList = Am_Di::getInstance()->invoiceRefundTable->selectLast($num); ?>
<div class="admin-last admin-lastrefunds">
    <h2><?php __e('Last %s Refunds', $num); ?></h2>
    <div class="grid-container">
        <table class="grid">
            <tr>
                <th class="helper-corner-left" nowrap="nowrap"><?php __e('Date/Time') ?></th>
                <th><?php __e('Invoice') ?></th>
                <th><?php __e('Items') ?></th>
                <th><?php __e('Amount') ?></th>
                <th class="helper-corner-right"><?php __e('User') ?></th>
            </tr>
            <?php foreach ($lastRefundsList as $p): ?>
            <tr<?php
            if (@$rownum++% 2)
            {
            echo ' class="odd" ';
            }
            ?>>
                <td nowrap="nowrap"><time datetime="<?php p(date('c', amstrtotime($p->dattm))) ?>" title="<?php p($this->getElapsedTime($p->dattm)) ?>"><?php p(amDate($p->dattm)) ?><br /><small><?php p(amTime($p->dattm)) ?></small></time></td>
                <td><a class="link" href="<?php echo REL_ROOT_URL ?>/admin-user-payments/index/user_id/<?php p($p->user_id) ?>#invoice-<?php p($p->invoice_id) ?>"><?php p($p->invoice_id) ?>/<?php p($p->public_id) ?></a><br />
                    <small><?php p($p->paysys_id) ?></small></td>
                <td><?php p($p->items) ?></td>
                <td>
                    <?php p(Am_Currency::render($p->amount)) ?>
                </td>
                <td><strong><?php p($p->name) ?></strong>
                    (<a class="link" href="<?php echo $this->userUrl($p->user_id) ?>"><?php p($p->login) ?></a>)<br />
                    <?php p($p->email) ?></td>
            </tr>
            <?php endforeach ?>
        </table>
    </div>
</div>
