body { font-family: arial, helvetica, serif;

            background-repeat: repeat-y;

            margin:0px;
            padding:0px; /* Opera 0 margin */
}

/* This controls global text in the html <pre> tags */
pre {  font-family: arial, helvetica, serif;
           font-size:12px;
          color:#000000;}

/* General global font settings used in several templates */

a:link { font-size:12px; color:blue; text-decoration:none; font-weight:normal;}
a:hover { font-size:12px; color:blue; text-decoration:underline; font-weight:normal;}


.small { font-size:10px; color:#000000; text-decoration:none; font-weight:normal;}
.smallBold { font-size:10px; color:#000000; text-decoration:none; font-weight:bold;}
.normal { font-size:12px; color:#000000; text-decoration:none; font-weight:normal;}
.normalBold { font-size:12px; color:#000000; text-decoration:none; font-weight:bold;}
.large { font-size:16px; color:#000000; text-decoration:none; font-weight:normal;}
.largeBold { font-size:16px; color:#000000; text-decoration:none; font-weight:bold;}

a.redLink:link{font-size: 12px; color: #FF0000; text-decoration:none; }
a.redLink:hover {font-size: 12px; color: #FF0000; text-decoration:underline; }
a.redLink:visited {font-size: 12px; color: #FF0000; text-decoration:none; }
.redLink{font-size: 12px; color: #FF0000; text-decoration:none; }

/* Font settings for the Left Navagation links */

.sideLink { font-size:11px; color:#000000; text-decoration:none; font-weight:normal;}
a.sideLink:link { font-size:11px; color:#000000; text-decoration:none; font-weight:normal;}
a.sideLink:active { font-size:11px; color:#000000; text-decoration:none; font-weight:normal;}
a.sideLink:hover { font-size:11px; color:#000000; text-decoration:underline; font-weight:normal;}

/* Font settings for the nav_xxx.html templates not selected */

.navBar { font-size:12px; color:#FFFFFF; text-decoration:none; font-weight:bold;}
a.navBar:link { font-size:12px; color:#FFFFFF; text-decoration:none; font-weight:bold;}
a.navBar:hover {font-size:12px; color:#FFFFFF; text-decoration:underline; font-weight:bold;}

/* Font settings for the nav_xxx.html templates  selected */

.navBarAct { font-size:12px; color:#FFCC00; text-decoration:none; font-weight:bold;}
a.navBarAct:link { font-size:12px; color:#FFCC00; text-decoration:none; font-weight:bold;}
a.navBarAct:hover {font-size:12px; color:#FFCC00; text-decoration:underline; font-weight:bold;}



/* Color Font and Link settings for the Lt. Blue Headers */

	.headerTD {padding: 5px;background: #666699;}
	.headerText {  font-size: 13px; font-weight: bold; color: #FFFFFF;}
	.headerDate {   color:#FFFFFF;  font-size: 11px; font-weight: normal;}
                a.zoneDay { font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration:none; font-style: italic;}
	.basicHeaderText{ padding-left: 5px;font-size: 16px; font-weight: bold; }
.fcExpire {font-size: 11px; color: #FF0000;  font-weight:bold;}

/* Advisory Title name in zonesection, warnings and special templates  */

		 .warnTitle {color: #FF0000; font-weight: bold; font-size: 14px; }
                               a.warnTitle:link {text-decoration:none; color: #FF0000; font-weight: bold; font-size: 14px; }
                              a.warnTitle:hover {text-decoration:underline; color: #FF0000; font-weight: bold; font-size: 14px; }


	.afd { padding-left: 5px;}

/* font settings for local_header.html and radar_header.html template */

	#localHeader { }
	#localHeader .Place { color:#000000; padding-left: 5px; font-size: 16px;  font-weight: bold; }
	#localHeader .Wxn {  padding-left: 5px; font-weight: bold; }
	#localHeader .Label {color:#000000; font-size: 10px;  font-weight: bold; }
	#localHeader .Value { color:#000000; font-size: 10px;}
                #localHeader a.Icao  {font-size: 10px; color: #FF0000; text-decoration:none; }
               #localHeader a.Icao:hover  {font-size: 10px; color: #FF0000; text-decoration:underline; }
               #localHeader a.Icao:visited  {font-size: 10px; color: #FF0000; text-decoration:none; }

/* Font settings for zonesection  */
	#forecastDetail {margin-left: 5px;}
	#forecastDetail .dayTitle { color:#000000; font-weight: bold; font-size: 13px;}
	#forecastDetail .wx {color: #000000; font-size: 12px;}
	#forecastDetail .include {color: #0000FF; font-size: 12px; font-weight:bold;}
               #forecastDetail .cities {color: #000000; font-size: 11px;}

/* Font settings for zone_rows  */
	#forecastRow {}
	#forecastRow .Title { font-size: 12px;  font-weight: bold; }
	#forecastRow .wx { font-size: 12px;  font-weight: normal;}
	#forecastRow .high {font-size: 12px; color: #FF0000; }
	#forecastRow .low {font-size: 12px; color: #0000FF; }
	#forecastRow .pop {font-size: 12px; color: #238E23; }

/* font settings for current template */
	#currents {}
	#currents .Wx { font-size: 14px; color:#000000;  font-weight: bold; }
	#currents .Temp { font-size: 16px; color:#000000;  font-weight: bold;}
	#currents .Label {font-weight: bold; font-size:12px; color:#000000; }
	#currents .Value {font-weight: normal; font-size:12px; color:#000000;}

/* font settings in astro template */
	#astro {}
	#astro .Label {font-weight: bold; font-size:12px; color:#000000; text-decoration:none; }
               #astro a.Label:link {font-weight: bold; font-size:12px; color:#000000; text-decoration:none;}
                 #astro a.Label:hover {font-weight: bold; font-size:12px; color:#000000; text-decoration:underline;}
	#astro .Value {font-weight: normal; font-size:12px; color:#000000;}
                #astro .Moonname {font-weight: normal; font-size:11px; color:#000000;}

/* row background colors for mos and your weather settings */

.rowColor1 { background: #FFCC00;}
.rowColor2 { background: #C0C0C0;}

/* Ridge Radar Control */
/* id radarTable is an addition for */
/* IE and Mozilla Compatablilty */
#radarTable{
   height:580px;
   width:600px;

}
.radarmap {
    position : relative;
    left : 0;
    top : 0;
    height : 550px;
    width : 600px;
}
.image2 {
    position : absolute;
    left : 0;
    top : 0;
}
.image3 {
    position : absolute;
    left : 0;
    top : 0;
}
.image4 {
    position : absolute;
    left : 0;
    top : 0;
}
.image5 {
    position : absolute;
    left : 0;
    top : 0;
}
.image6 {
    position : absolute;
    left : 0;
    top : 0;
}
.image7 {
    position : absolute;
    left : 0;
    top : 0;
}
.image8 {
    position : absolute;
    left : 0;
    top : 0;
}
.image9 {
    position : absolute;
    left : 0;
    top : 0;
}
.image10 {
    position : absolute;
    left : 0;
    top : 0;
}


#caradarTable{

 height:480px;
   width:580px;


}
.caradarmap {
    position : relative;
    left : 0;
    top : 0;
    height : 480px;
    width : 580px;
}
