
.smallblue { font-size:10px; color:#0000FF; text-decoration:none; font-weight:normal;}
.smallBoldblue { font-size:10px; color:#0000FF; text-decoration:none; font-weight:bold;}
.normalblue { font-size:12px; color:#0000FF; text-decoration:none; font-weight:normal;}
.normalBoldblue { font-size:12px; color:#0000FF; text-decoration:none; font-weight:bold;}
.largeblue { font-size:16px; color:#0000FF; text-decoration:none; font-weight:normal;}
.largeBoldblue { font-size:16px; color:#0000FF; text-decoration:none; font-weight:bold;}
.smallred { font-size:10px; color:#FF0000; text-decoration:none; font-weight:normal;}
.smallBoldred { font-size:10px; color:#FF0000; text-decoration:none; font-weight:bold;}
.normalred { font-size:12px; color:#FF0000; text-decoration:none; font-weight:normal;}
.normalBoldred { font-size:12px; color:#FF0000; text-decoration:none; font-weight:bold;}
.largered { font-size:16px; color:#FF0000; text-decoration:none; font-weight:normal;}
.largeBoldred { font-size:16px; color:#FF0000; text-decoration:none; font-weight:bold;}

/* Font settings for the Auxillary Navagation links */

.auxLink { font-size:11px; color:#000000; text-decoration:none; font-weight:bold;}
a.auxLink:link { font-size:11px; color:#000000; text-decoration:none; font-weight:bold;}
a.auxLink:active { font-size:11px; color:#000000; text-decoration:none; font-weight:bold;}
a.auxLink:hover { font-size:11px; color:#000000; text-decoration:none; font-weight:bold;}


a.redLink:link{font-size: 12px; color: #FF0000; text-decoration:none; font-weight:bold;}
a.redLink:hover {font-size: 12px; color: #FF0000; text-decoration:none; font-weight:bold;}
a.redLink:visited {font-size: 12px; color: #FF0000; text-decoration:none; font-weight:bold;}
.redLink{font-size: 12px; color: #FF0000; text-decoration:none; font-weight:bold;}

a.blueLink:link{font-size: 12px; color: #0000FF; text-decoration:none; font-weight:bold;}
a.blueLink:hover {font-size: 12px; color: #0000FF; text-decoration:none; font-weight:bold;}
a.blueLink:visited {font-size: 12px; color: #0000FF; text-decoration:none; font-weight:bold;}
.blueLink{font-size: 12px; color: #0000FF; text-decoration:none; font-weight:bold;}


table.troptrack tr.forecast-row td, table.troptrack tr.current-row td, table.troptrack tr.odd-row td, table.troptrack tr.even-row td {
	padding: 4px 2px;
}
table.troptrack tr.forecast-row {
	height: 30px;
	background: #f5f5f5;
	color: #999;
}
table.troptrack tr.current-row {
	height: 30px;
	background: #bfc1dc;
	color: #000;
}

table.troptrack tr.odd-row {
	height: 30px;
	background: #e4e5f1;
	color: #000;
}
table.troptrack tr.even-row {
	height: 30px;
	background: #fff;
	color: #000;
}


/* storm legend blocks */
table.stmlegend {
	font-size: 10px;
}
table.stmlegend td {
	padding: 3px 3px 0 0;
	text-align: left;
}
table.stmlegend td.key {
	width: 10px;
	padding: 0;
	font-size: 10px;
}


.storm-H5, .storm-H4, .storm-H3, .storm-H2, .storm-H1, .storm-TS, .storm-TD {
	float: left;
	display: block;
	width: 10px;
	height: 10px;
	margin-top: 2px;
	border: 1px solid #000;
	line-height: 10px;
}
.storm-H5 {
	background: #ffccff;
}
.storm-H4 {
	background: #fe00fe;
}
.storm-H3 {
	background: #ff0198;
}
.storm-H2 {
	background: #fe0000;
}
.storm-H1 {
	background: #ff6634;
}
.storm-TS {
	background: #ffcd00;
}
.storm-TD {
	background: #ffff00;
}

#HWtropinfo {
	width: 200px;
	height: 117px;
	border: 1px solid #000;
	font-family: "Arial","Helvetica",sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000;
	background: #fff;
}
#HWtropinfo #storm {
	width: 194px;
	~width: 200px;
	padding: 3px;
	background: #666699;
	border-bottom: 1px solid #333;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	line-height: 14px;
}
#HWtropinfo #details {
	width: 194px;
	~width: 200px;
	padding: 3px;
	font-size: 10px;
	font-weight: normal;
	color: #333;
}
#HWtropinfo #details .title {
	display: block;
	padding-bottom: 5px;
	font-size: 11px;
	font-weight: bold;
	color: #000;
}
#HWtropinfo #details .date {
	font-size: 9px;
	font-weight: normal;
	font-style: italic;
	color: #666;
}
#HWtropinfo #details .row {
	clear: both;
	padding-top: 2px;
}
#HWtropinfo #details .label {
	display: block;
	float: left;
	clear: left;
	width: 66px;
	~width: 70px;
	padding: 2px;
	background: #FFCC00;
	color: #333;
	line-height: 12px;
}
#HWtropinfo #details .data {
	display: block;
	float: left;
	margin: 2px 0 0 3px;
	font-weight: bold;
	line-height: 12px;
	font-size: 9px;
}



table.invests {
	width: 95%;
	margin: 0 10px 10px 10px;
	border: 1px solid #666;
}
table.invests th {
	background: #666;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	padding: 2px;
}
table.invests td {
	font-size: 10px;
	font-weight: normal;
	text-align: center;
	padding: 2px;
}
table.invests td a {
	text-decoration: none;
	font-size: 10px;
	color: #000;
}
table.invests td a:hover {
	text-decoration: underline;
	font-size: 10px;
}
table.invests tr.odd-row {
	background: #f7f7f7;
}
table.invests tr.even-row {
	background: #ebebeb;
}

