.modelhours {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #eeeeee));
background:-moz-linear-gradient(top, #f9f9f9 5%, #eeeeee 100%);
background:-webkit-linear-gradient(top, #f9f9f9 5%, #eeeeee 100%);
background:-o-linear-gradient(top, #f9f9f9 5%, #eeeeee 100%);
background:-ms-linear-gradient(top, #f9f9f9 5%, #eeeeee 100%);
background:linear-gradient(to bottom, #f9f9f9 5%, #eeeeee 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#eeeeee',GradientType=0);
background-color:#f9f9f9;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
border:1px solid #dcdcdc;
box-sizing: border-box;
display:inline-block;
cursor:pointer;
color:black;
padding:2px 5px;
text-shadow:0px 1px 0px #ffffff;
}
.modelhours:hover {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eeeeee), color-stop(1, #f9f9f9));
background:-moz-linear-gradient(top, #eeeeee 5%, #f9f9f9 100%);
background:-webkit-linear-gradient(top, #eeeeee 5%, #f9f9f9 100%);
background:-o-linear-gradient(top, #eeeeee 5%, #f9f9f9 100%);
background:-ms-linear-gradient(top, #eeeeee 5%, #f9f9f9 100%);
background:linear-gradient(to bottom, #eeeeee 5%, #f9f9f9 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f9f9f9',GradientType=0);
background-color:#eeeeee;
}
.modelhours:active {position:relative; top:1px;}



