

#regionContainer {position:relative; height:30px; z-index:10;}
#regionselector {
float:left; list-style-type:none; width:109; height:100%; margin:0; padding:0;
position:absolute; top:0; left:5; border-left: solid rgba(0,0,0,0.40) 1px; border-top: solid rgba(0,0,0,0.40) 1px; border-bottom: solid rgba(0,0,0,0.40) 1px;
}
#regionselector  > li { 
float:left; width:109; height:30px; background-color: rgba(221,100,100,0.95);
padding:0; margin:0; border-right: solid rgba(0,0,0,0.60) 1px; box-sizing: border-box;
}
#regionselector  > li > a {
display:block; line-height:30px; text-align:center; color:#ffffff; 
text-decoration:none; font-size:1.3em; font-weight:normal;
}
#regionselector  > li > a:hover {background-color: rgba(251,130,130,0.95);}

.regionparameters {
display:none; list-style-type:none; width:110; margin:0; padding:0;
position:absolute; top:32px;
}
#REGION {left:5px;}
.regionparameters > li {
background-color: rgba(221,100,100,0.95);
border-bottom: solid rgba(0,0,0,0.40) 1px; box-sizing: border-box;
}
.regionparameters > li > a {
display:block; line-height:30px; text-align:center; color:#ffffff; text-decoration:none;
font-size:1.2em; font-weight:normal;
}
.regionparameters > li > a:hover {background-color: rgba(251,130,130,0.95); color:white;}





#modelNavbarContainer {position:relative; height:30px; z-index:10;}
#modelselector {
float:left; list-style-type:none; width:872; height:100%; margin:0; padding:0;
position:absolute; top:0; left:0; border-left: solid rgba(0,0,0,0.40) 1px; border-top: solid rgba(0,0,0,0.40) 1px; border-bottom: solid rgba(0,0,0,0.40) 1px;
}
#modelselector  > li { 
float:left; width:109; height:30px; background-color: rgba(221,221,238,0.60);
padding:0; margin:0; border-right: solid rgba(0,0,0,0.40) 1px; box-sizing: border-box;
}
#modelselector  > li > a {
display:block; line-height:30px; text-align:center; color:#003366; 
text-decoration:none; font-size:1.3em; font-weight:normal;
}
#modelselector  > li > a:hover {background-color: rgba(211,211,228,0.95);}

.modelparameters {
display:none; list-style-type:none; width:140; margin:0; padding:0;
position:absolute; top:32px;
}
#GFS {left:0px;}
#GFSEns {left:109px;}
#Euro {left:218px;}
#CMC {left:328px;}
#Navgem {left:436px;}
#NAM {left:545px;}
#CFS {left:654px;}
#Comp {left:763px;}
.modelparameters > li {
background-color: rgba(231,231,258,1.0);
border-bottom: solid rgba(0,0,0,0.40) 1px; box-sizing: border-box;
}
.modelparameters > li > a {
display:block; line-height:30px; text-align:center; color:#003366; text-decoration:none;
font-size:1.0em; font-weight:normal;
}
.modelparameters > li > a:hover {background-color: rgba(181,181,198,1.0); color:white;}
