div.map{
   position: relative;
}

div.BPAval {
   position: absolute;
   top: 10px;
   left: 10px; 
}
div.CAISOval {
   position: absolute;
   top: 30px;
   left: 50px; 
}
div.WECCval {
   position: absolute;
   top: 50px;
   left: 100px; 
}
div.SPPval {
   position: absolute;
   top: 80px;
   left: 150px; 
}
