


<Center>

			<form class="fwlogin" action="http://www.frontierweather.com/amember/login" method=post>
			<fieldset>
				<div class="col notopmargin nobottommargin">
					<table border="0" cellspacing="1">
						<tr><td align="right"><label class="username">Username: </label></td><Td width="20"></td>
						<td><label class="username"> <input type="text" name="amember_login" value="" /></label></td></tr>
						<tr><td align="right"><label class="password">Password: </label></td><Td width="20"></td>
						<td><label class="username"><input type="password" name="amember_pass" value="" /></label></td></tr>
					</td></tr></table>
				</div>
                                <div class="col col_last notopmargin nobottommargin">
				 	<center><input id="amember_login_button" type="submit" value="Account Login" name="submit" class="btn center"/><p><center>
 				</div>
			</fieldset>
			</form>

                    <!-- hidden variables -->
                    <?php echo Am_Controller::renderArrayAsInputHiddens($hidden) ?>
                    <!-- end of hidden -->
                </form>
