<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><?php echo $title ?></title>


	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<style type="text/css" media="all">@import "http://www.frontierweather.com/corporatestyle2.css";</style>

    </head>
<BODY BGCOLOR="#336699" TEXT="#000000" LINK="#339966" VLINK="#663399" ALINK="#666666" leftmargin=0 rightmargin=0 topmargin=0 bottommargin=0 marginheight=0 marginwidth=0>
<center>
<table cellspacing="25" cellpadding="0" border=0 bgcolor="#336699"><tr><td>
  <TABLE cellpadding=0 cellspacing=0 border=0 width="100%" HEIGHT="100%"><tr><td ALIGN="LEFT" VALIGN="TOP" bgcolor="#ffffff">
 	  <script language="JavaScript" src="http://www.frontierweather.com/newheader2.js"></script>
	  <script language="JavaScript" src="http://www.frontierweather.com/menunew.js"></script>
	  <TABLE cellpadding="10" cellspacing=0 border=0 width="100%"  bgcolor="#ffffff"><tr><td class="Just"  VALIGN="TOP">
	 	<!-- CONTENT-->


        <?php echo $this->placeholder('body-start'); ?>
        <div class="am-layout">
            <a name="top"></a>
            <div class="am-header"> </div>
 
            <!-- sample image from theme folder -->
            <?php echo $this->_scriptImg('large-alert.png'); ?>
 
            <div class="am-body">
                <div class="am-body-content-wrapper am-main">
                    <div class="am-body-content">
                        <?php include $this->_script('_top.phtml'); ?>
                        <?php if (empty($this->layoutNoTitle)): ?>
                            <h1><?php echo $title ?></h1>
                        <?php endif; ?>
                        <!-- content starts here -->
                        <?php echo $content ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="am-footer">
        </div>
        <?php echo $this->render('_popup.phtml'); ?>
        <?php echo $this->placeholder('body-finish'); ?>
    </body>
</html>