<?php $title = ___('Please login'); $this->setLayout('layout.phtml'); ?>
<?php include $this->_script('_error.phtml'); ?>
<?php $noInitAjaxForm = true; ?>
<?php include $this->_script('_login.phtml'); ?>
<div class="am-signup-link"><?php __e('Not registered yet?') ?> <a href="http://info.wdtinc.com/frontierweather">Click here to request a free 7 day trial!</a></div>
