<?php $title = ___('Access Denied'); $this->setLayout('layout.phtml'); ?>
<p>
   <?php __e('You have no access to %s', $accessObjectTitle) ?>.
   <p><a href="http://www.frontierweather.com/contact.htm">Please contact us to change or add a product subscription.</a>
</p>

        