<?php
$title = $catActive ? $catActive : ___('Affiliate info');
$this->headLink()->appendStylesheet($this->_scriptCss('aff.css'));
$this->setLayout('member/layout.phtml');
/* @var $di Am_Di */
?>
<?php echo $this->blocks('aff/top') ?>
<?php echo $this->blocks('aff/links/top') ?>
<?php if (!$catActive) : ?>
    <?php if ($intro = $di->modules->get('aff')->getConfig('intro')) : ?>
    <?php echo $intro; ?>
    <?php endif; ?>
<?php endif; ?>
<?php if (!$catActive) : ?>
<h2><?php __e('Your General Affiliate Link') ?></h2>
<div class="am-aff-banner-preview">
    <?php echo $this->formText('', $generalLink, array('class' => 'el-wide')) ?>
    <?php
    $cr = Am_Di::getInstance()->config->get('aff.custom_redirect');
    $aff = Am_Di::getInstance()->auth->getUser();
    if(($cr == Bootstrap_Aff::AFF_CUSTOM_REDIRECT_ALLOW_SOME_DENY_OTHERS && $aff->aff_custom_redirect) ||
        ($cr == Bootstrap_Aff::AFF_CUSTOM_REDIRECT_DENY_SOME_ALLOW_OTHERS && !$aff->aff_custom_redirect)) : ?>
<a class="custom_redirect_link local-link" href="javascript:;"><?php __e('Get Affiliate Link with Custom Landing Page') ?></a>
<div class="custom_redirect" style="display: none;">
    <div style="padding-bottom:0.5em;">
        <label><?php __e('Please Enter URL of Your Landing Page')?></label>
        <input type="text" name="url" id="custom_redirect_url" placeholder="http://example.com/page.html" class="el-wide" />
    </div>
    <div id="custom_redirect_div" style="display:none; padding-bottom:0.5em;">
        <label><?php __e('Your Custom Affiliate Link')?></label>
        <input type="text" name="link" id="custom_redirect_link" class="el-wide" />
    </div>
    <input type="button" value="<?php __e('OK') ?>" id="custom_redirect-ok" />
    <input type="button" value="<?php __e('Cancel') ?>" id="custom_redirect-cancel" />
</div>
<script type="text/javascript">
jQuery(function($){
    $(".custom_redirect_link").click(function(){
        $(".custom_redirect").amPopup({
            title: "<?php j(___('Generate Link with Custom Landing Page'))?>",
            width: 450
        });
    });
    $('#custom_redirect-ok').click(function(){
        var url = "<?php j(ROOT_URL) ?>" + "/aff/aff/clink";
        $.ajax({
            type: 'POST'
            ,url: url
            ,data : {
                url : $("#custom_redirect_url").val()
            }
            ,success: function(data, textStatus, request)
            {
                $("#custom_redirect_div").show();
                $("#custom_redirect_link").val(data['link']);
            }
        });
    })
    $('#custom_redirect-cancel').click(function(){
        $(".custom_redirect").amPopup("close");
    })
});
</script>
    <?php endif; ?>
    <?php endif; ?>
</div>
<?php if (count($category) && !(count($category)==1 && $catActive)) : ?>
<div class="am-block">
    <ul>
    <?php foreach ($category as $cat) : ?>
        <?php if ($cat == $catActive) : ?>
                <li><h2><?php p($cat) ?></h2></li>
        <?php else: ?>
            <li><h2><a href="<?php echo $this->url(array(
                'module' => 'aff',
                'controller' => 'aff',
                'action' => 'index',
                'c' => $cat
            ), 'default', true) ?>"><?php p($cat) ?></a></h2></li>
        <?php endif; ?>
    <?php endforeach; ?>
    </ul>
</div>
<?php endif; ?>
<!-- aff banners -->
<?php if (count($affBanners)) : ?>
<h2><?php __e('Banners and Links') ?></h2>
    <?php foreach ($affBanners as $banner) : ?>
    <?php $bannerRenderer = Am_BannerRenderer::create($banner); ?>
    <div class="am-aff-banner-preview">
        <div>
            <div class="am-aff-banner-preview-preview">
                <div class="am-aff-banner-preview-preview-conteiner">
                <?php echo $bannerRenderer->getPreview(); ?>
                </div>
            </div>
            <div class="am-aff-banner-preview-info">
                <div class="am-aff-banner-preview-info-conteiner">
                    <dl class="am-aff-banner-preview-info-details">
                        <dt><?php __e('Title') ?></dt>
                        <dd><?php echo $this->escape($banner->title) ?></dd>
                        <dt><?php __e('Target URL') ?></dt>
                        <dd><a href="<?php echo $banner->url ?>"><?php echo $this->escape($banner->url) ?></a></dd>
                        <?php if ($banner->desc) : ?>
                        <dt><?php __e('Description') ?></dt>
                        <dd><?php echo $this->escape($banner->desc) ?></dd>
                        <?php endif; ?>
                    </dl>
                    <?php if ($note = $bannerRenderer->getNote()) : ?>
                        <a href="javascript:;" onclick="jQuery(this).siblings('.am-aff-banner-note').toggle()" class="local-link"><?php __e('Installation Instructions') ?></a><br />
                        <div class="am-aff-banner-note" style="display:none">
                            <?php echo $note ?>
                        </div>
                    <?php endif; ?>
                    <a href="javascript:;" onclick="jQuery(this).siblings('textarea').toggle()" class="local-link"><?php __e('Source Code &mdash; Copy/Paste Into Your Website') ?></a><br />
                    <textarea class="el-wide" style="display:none; margin-top: 1em;" rows="8"><?php echo $this->escape($bannerRenderer->getPreview()); ?></textarea>
                </div>
            </div>
        </div>
    </div>
    <?php endforeach; ?>
<?php endif; ?>



<!-- aff downloads -->
<?php if (count($affDownloads)) : ?>
<h2><?php __e('Marketing Materials') ?></h2>
<ul class="am-list am-aff-mm">
    <?php foreach ($affDownloads as $download) : ?>
    <li class="am-aff-mm-item"><a href="<?php echo ROOT_URL . '/file/download/path/' . $download->getPath() ?>"><?php echo $this->escape($download->getName()) ?></a>
            <?php if ($download->desc) : ?>
                <em class="am-aff-mm-item-desc"><?php __e($download->desc) ?></em>
            <?php endif; ?>
    </li>
    <?php endforeach; ?>
</ul>
<?php endif; ?>
<?php echo $this->blocks('aff/links/bottom') ?>