<script type="text/javascript">
$(".void-commission").live('click', function(event)
{
    var link = this;
    $("#void-commission").html('<?php j(___('Do you really want to void this commission?'))?>');
    $("#void-commission").dialog({
        autoOpen: true
        ,width: 350
        ,buttons: {
            "<?php j(___('OK')) ?>" : function(){
                var url = link.href;
                $.ajax({
                  type: 'GET'
                  ,url: url
                  ,success: function(data, textStatus, request)
                  {
                    $(link).closest('.user-invoice-record-details-commissions').after(data).remove();
                    $("#void-commission").dialog("close");
                  }
                });

            }
            ,"<?php j(___('Cancel')) ?>" : function(){
                $(this).dialog("close");
            }
        }
        ,closeOnEscape: true
        ,title: "<?php j(___('Void Commission'))?>"
        ,modal: true
    });
    return false;
});

</script>
<div id="void-commission"></div>
